
{%  extends 'CinemaBase/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>SPL</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>ID: {{ spl.id }}</th>
                        </tr>
						<tr>
							<th>Name: {{ spl.name }}</th>
                        </tr>
                        <tr>
							<th>CPLs: </th>
                            {% for cpl in cpls %}
                                <tr>
							        <th>{{ cpl.name }}</th>
                                </tr>
                            {% endfor %}
                        <tr>
							<th>Effects: </th>
                            {% for effect in effects %}
                                <tr>
							        <th>{{ effect.name }}</th>
                                </tr>
                            {% endfor %}

					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}